{% extends "base.html" %}

{% block title %} Careers {% endblock title %}

{% block body %}
<h1 style="text-align: center; font-family: 'Outfit', sans-serif; font-weight: bold; my-0">Careers at Digitalux</h1>
<div class="container-fluid my-0 px-0 py-0">
    <img src="static\img\careers_one.png" class="d-block w-100" alt="careers image">
</div>
<div class="container-fluid my-0 px-0 py-0">
    <img src="static\img\careers_two.png" class="d-block w-100" alt="careers image">
</div>
{% endblock body %}